firstApp/bin/Debug/net9.0/firstApp.dll
firstApp/bin/Debug/net9.0/firstApp.exe
firstApp/bin/Debug/net9.0/firstApp.pdb
firstApp/bin/Debug/net9.0/FirstClassLibrary.dll
firstApp/bin/Debug/net9.0/FirstClassLibrary.pdb
firstApp/obj/Debug/net9.0/apphost.exe
firstApp/obj/Debug/net9.0/firstApp.AssemblyInfo.cs
firstApp/obj/Debug/net9.0/firstApp.AssemblyInfoInputs.cache
firstApp/obj/Debug/net9.0/firstApp.csproj.AssemblyReference.cache
firstApp/obj/Debug/net9.0/firstApp.csproj.FileListAbsolute.txt
firstApp/obj/Debug/net9.0/firstApp.dll
firstApp/obj/Debug/net9.0/firstApp.pdb
firstApp/obj/Debug/net9.0/firstApp.sourcelink.json
firstApp/obj/Debug/net9.0/ref/firstApp.dll
firstApp/obj/Debug/net9.0/refint/firstApp.dll
FirstClassLibrary/bin/Debug/net9.0/FirstClassLibrary.dll
FirstClassLibrary/bin/Debug/net9.0/FirstClassLibrary.pdb
FirstClassLibrary/obj/Debug/net9.0/FirstClassLibrary.AssemblyInfo.cs
FirstClassLibrary/obj/Debug/net9.0/FirstClassLibrary.AssemblyInfoInputs.cache
FirstClassLibrary/obj/Debug/net9.0/FirstClassLibrary.csproj.FileListAbsolute.txt
FirstClassLibrary/obj/Debug/net9.0/FirstClassLibrary.dll
FirstClassLibrary/obj/Debug/net9.0/FirstClassLibrary.pdb
FirstClassLibrary/obj/Debug/net9.0/FirstClassLibrary.sourcelink.json
FirstClassLibrary/obj/Debug/net9.0/ref/FirstClassLibrary.dll
FirstClassLibrary/obj/Debug/net9.0/refint/FirstClassLibrary.dll
